.floating-button {
  position: fixed;
  background-color: #007bff;
  padding: 25px 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  touch-action: none;
  z-index: 100;
}

.floating-button a{
  color: white;
  text-decoration: none;
}

.floating-button:hover {
  background-color: #0056b3;
}

.floating-button.dragging {
  opacity: 0.7;
  background-color: #0056b3;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
