.floating-button {
  position: fixed;
  background-color: #007bffd1;
  padding: 25px 10px;
  border-radius: 50px;
  font-family: 'MuliBold', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  touch-action: none;
  z-index: 100;
}

.floating-button a{
  color: white;
  text-decoration: none;
}

.floating-button:hover {
  background-color: #0056b3;
}

.floating-button.dragging {
  opacity: 0.7;
  background-color: #0056b3;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .floating-button {
    font-size: 14px;
    padding: 20px 7px;
  }
}
