.offerings-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
}

.offerings-content {
  max-width: 800px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.292);
}

.offerings-text {
  padding: 20px;
  text-align: center;
}

.offerings-text h1 {
  font-size: 2.5rem;
  font-family: MuliRegular;
  margin-bottom: 20px;
}

.offerings-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.offerings-text .image-container {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.offerings-image-MP{
  max-width: 150px;
}

.offerings-text .offerings-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

#CBU{
  font-family: MuliBold;
}

@media screen and (max-width: 1199px) {
  .offerings-main-container {
    padding: 150px;
  }
}


@media screen and (max-width: 768px) {
  .offerings-main-container {
    padding: 150px;
    text-align: left;
  }
  .offerings-text {
    padding: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 575px) {
  .offerings-main-container {
    padding: 75px 0px;
  }

  .offerings-content {
    min-width: 100%;
    border: 0px;
    box-shadow: 0px 0px 0px;
  }

  .offerings-text {
    padding: 15px;
    font-size: 14px;
    text-align: left;
    width: 100%;
  }

  .offerings-image-MP-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
  }

  .offerings-image-MP{
    align-self: center;
  }
}