@media screen and (max-width: 1440px) {
  .banner-container {
    height: 708px;
  }
}

@media screen and (max-width: 1199px) {
  .banner-container {
    margin-top: 80px;
  }
  
  .banner-text-leyenda{
    min-width: 600px;
  }

  .banner-text-leyenda p {
    font-size: 15px;
    width: 100%;
  }

  #versiculo-leyenda {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .banner-container {
    height: 648px;
  }

  .banner-text h1 {
    font-size: 4.5em;
  }

  .banner-text p {
    font-size: 1.9em;
  }

  .banner-text-leyenda {
    top: 60%;
    left: 50%;
  }

  .banner-text-leyenda{
    min-width: 400px;
  }

  .banner-text-leyenda p {
    font-size: 14px;
  }

  #versiculo-leyenda {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .banner-container {
    height: 338px;
  }

  .banner-text h1 {
    font-size: 12vw;
  }

  .banner-text p {
    font-size: 6vw;
  }

  .banner-btn {
    top: 30%;
    left: 50%;
  }

  .banner-btn a {
    font-size: 3.5vw;
    padding: 3vw 9vw;
  }

  .banner-text-leyenda {
    top: 65%;
    left: 50%;
  }
  
  .banner-text-leyenda{
    min-width: 100%;
    border-radius: 0px;
  }

  .banner-text-leyenda p {
    font-size: 12px;
  }

  #versiculo-leyenda {
    font-size: 14px;
  }
}

@media screen and (max-width: 390px) {
  .banner-text-leyenda {
    top: 60%;
    left: 50%;
  }

  .banner-text-leyenda p {
    font-size: 11px;
  }

  #versiculo-leyenda {
    font-size: 13px;
  }
}